{% extends "base.html" %}

{% block title %}Resultados - {{ busqueda }}{% endblock %}

{% block content %}

<div class="container text-center">
    <h1>NUUB (Nutrition + Hub)</h1>
    <p>Cambia tus habitos, cambia tu vida</p>
</div>

<div class="container mt-4 mb-5 text-center">
    <img src="static/img/logo.png" alt="Logo de NUUB" class="img-fluid">
</div>

<div class="container text-center">
    <h2>Acerca de NUUB</h2>
    <p>NUUB es una aplicacion web nutricional, realizada por Gregorio Canton Chacon Antonio y Herrera Trejo Victor Daniel.</p>
    <p>Esta aplicacion web utilizo Flask, HTML, Python, BootStrap, MySQL - phpMyAdmin y GitHub. Ah y sanidad mental de sus creadores.</p>
</div>
{% endblock %}