<!DOCTYPE html>
<html lang="es-mx" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NutriApp{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light h-100 d-flex flex-column">
    
    <nav class="navbar navbar-expand-lg bg-danger text-white">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold" href="{{ url_for('index') }}">NUUB (Nutrition + Hub)</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('cuenta') }}">Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('dietas') }}">Dietas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Calculadoras
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('calculadora_imc') }}">Indice de Masa Corporal (IMC)</a></li>
            <li><a class="dropdown-item" href="#">Tasa Metabólica Basal (TMB)</a></li>
            <li><a class="dropdown-item" href="#">Gasto Calórico Total (GCT)</a></li>
            <li><a class="dropdown-item" href="#">Peso Corporal Ideal</a></li>
            <li><a class="dropdown-item" href="#">Macronutrientes</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar alimento..." aria-label="Search"/>
        <button class="btn btn-warning" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>

    <footer>
    <div class="bg-danger text-white text-center py-3 mt-5">
        &copy; NUUB 2025
    </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>