{% extends "base.html" %}

{% block title %}Registarse{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card mt-4 shadow">
                <div class="card-body">
                    <h3 class="card-title text-center">Calcula tu GCT</h3>
                    <p class="card-text">Ingresa tu peso y altura para calcular tu Índice de Masa Corporal.</p>
                    <form>
                        <div class="mb-3">
                            <label for="peso" class="form-label">Tasa Metabolica Basal:</label>
                            <input type="number" class="form-control" id="tmb" placeholder="Ingresa tu tasa metabolica basal (Ejemplo: no c)">
                        </div>
                        <div class="mb-3">
                            <label for="altura" class="form-label">Altura (m):</label>
                            <input type="number" step="0.01" class="form-control" id="altura" placeholder="Ingresa tu altura en metros (Ejemplo: 1.74)">
                        </div>
                    <div class="text-center">
                        <button class="btn btn-warning">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}