{% extends "base.html" %}

{% block title %}Calculadora IMC - NUUB{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card mt-4 shadow">
                <div class="card-body">
                    <h3 class="card-title text-center">Calcula tus Macronutrientes</h3>
                    <form method="POST" action="{{ url_for('calculadora_macros') }}">
                        <div class="mb-3">
                            <label for="calorias" class="form-label">Calorías totales diarias:</label>
                            <input type="number" class="form-control" id="calorias" name="calorias" placeholder="Ingresa tus calorías diarias (Ejemplo: 2000)" required>
                        </div>
                        <div class="mb-3">
                            <label for="objetivo" class="form-label">Objetivo:</label>
                            <select class="form-select" id="objetivo" name="objetivo" required>
                                <option value="mantener">Mantener peso</option>
                                <option value="perder">Perder peso</option>
                                <option value="ganar">Ganar masa muscular</option>
                            </select>
                        </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning mt-2">Calcular</button>
                    </div>
                    </form>
                    
                    {% if macros %}
                    <div class="mt-4 alert alert-warning text-center">
                        <h5>Resultado:</h5>
                        <p><strong>Proteínas:</strong> {{ macros.proteinas }}g ({{ macros.calorias_proteinas }} cal)</p>
                        <p><strong>Carbohidratos:</strong> {{ macros.carbohidratos }}g ({{ macros.calorias_carbohidratos }} cal)</p>
                        <p><strong>Grasas:</strong> {{ macros.grasas }}g ({{ macros.calorias_grasas }} cal)</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}