{% extends "base.html" %}

{% block title %}Inicio de Sesion{% endblock %}

{% block content %}


<div class="container">
    <h1 class="text-center">No tienes una cuenta en NUUB❗</h1>
    <h4 class="text-center lead">Al crear una cuenta en NUUB, recibes varios beneficios:</h4>

    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <ul class="list-group">
                <li class="list-group-item">Acceso a contenido exclusivo que los usuarios no registrados no pueden acceder.</li>
            </ul>
        </div>
    </div>
</div>


    <div class="d-flex flex-column flex-sm-row justify-content-center gap-3 mt-4">
        <a href="{{ url_for('registro') }}" class="btn btn-warning btn-lg">Registrarse</a>
        <a href="{{ url_for('iniciodesesion') }}" class="btn btn-outline-warning btn-lg">Iniciar Sesión</a>
    </div>

{% endblock %}