{% extends "base.html" %}

{% block title %}Mi Cuenta{% endblock %}

{% block content %}

{% if usuario %}
<div class="container">
    <h1 class="text-center">¡Hola {{ nombre_usuario }}! Bienvenido a NUUB 🍌</h1>
    <h4 class="text-center lead">Aquí están tus datos:</h4>

    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-danger">Información Personal</h2>
                    <p><strong>Nombre:</strong> {{ usuario.name }} {{ usuario.lastname }}</p>
                    <p><strong>Fecha de Nacimiento:</strong> {{ usuario.birthdate }}</p>
                    <p><strong>Género:</strong> {{ usuario.gender }}</p>
                    <p><strong>Sexo Biológico:</strong> {{ usuario.biological_sex }}</p>
                    
                    <h2 class="card-title mt-4 text-danger">Información Física</h2>
                    <p><strong>Peso:</strong> {{ usuario.weight }} kg</p>
                    <p><strong>Altura:</strong> {{ usuario.height }} m</p>
                    <p><strong>Nivel de Actividad:</strong> {{ usuario.activity_level }}</p>
                    
                    <h2 class="card-title mt-4 text-danger">Preferencias</h2>
                    <p><strong>Objetivo:</strong> {{ usuario.goal }}</p>
                    <p><strong>Experiencia en Cocina:</strong> {{ usuario.cooking_exp }}</p>
                    <p><strong>Alergias:</strong> {{ usuario.allergies }}</p>
                    <p><strong>Intolerancias:</strong> {{ usuario.intolerances }}</p>
                    <p><strong>Alimentos que no gustan:</strong> {{ usuario.disliked_foods }}</p>
                </div>
            </div>
            
            <div class="text-center mt-4">
                <a href="{{ url_for('cerrar_sesion') }}" class="btn btn-danger">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <h1 class="text-center">No tienes una cuenta en NUUB❗</h1>
    <h4 class="text-center lead">Al crear una cuenta en NUUB, recibes varios beneficios:</h4>

    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <ul class="list-group">
                <li class="list-group-item">Acceso a contenido exclusivo que los usuarios no registrados no pueden acceder.</li>
            </ul>
        </div>
    </div>
</div>

    <div class="d-flex flex-column flex-sm-row justify-content-center gap-3 mt-4">
        <a href="{{ url_for('registro') }}" class="btn btn-warning btn-lg">Registrarse</a>
        <a href="{{ url_for('sesion') }}" class="btn btn-outline-warning btn-lg">Iniciar Sesión</a>
    </div>
{% endif %}

{% endblock %}