{% extends "base.html" %}

{% block title %}NutriApp - Inicio{% endblock %}

{% block content %}
<div class="row align-items-center mb-5">
    <div class="col-md-6">
        <h1 class="display-4 text-black fw-bold">Bienvenido a NUUB! 🍌</h1>
        <p class="lead">Una aplicación web nutrimental responsiva, facil de entender, con un diseño minimalista y un poco formal, pero eficaz.</p>
        <p>Explora y mantente al tanto de esta aplicación, y descubre la importancia de tener conocimiento sobre lo que comes, como así mismo tener un seguimiento de ello.</p>
    </div>
    <div class="col-md-6 text-center">
        <img src="static/imgz/comida.png" alt="Comidaa saludable" class="img-fluid rounded">
    </div>
</div>

<div class="row align-items-center">
    <div class="col-md-6 text-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="static/imgz/comidaa.png" style="width: 500px; height: 400px" class="img-fluid" alt="Imagen de ejemplo">
    </div>
    <div class="carousel-item">
        <img src="static/imgz/comidaaa.png" style="width: 500px; height: 400px" class="img-fluid" alt="Imagen de ejemplo">
    </div>
    <div class="carousel-item">
        <img src="static/imgz/comidaaaa.png" style="width: 500px; height: 400px" class="img-fluid" alt="Imagen de ejemplo">
    </div>
</div>
</div>
    </div>
    <div class="col-md-6">
        <h2 class="text-black">Características de la aplicación</h2>
        <ul class="list-unstyled">
            <li class="mb-2"> 
                <strong>🍊 Aplicación responsiva:</strong> 
                Se adapta a todas las pantallas
            </li>
            <li class="mb-2"> 
                <strong>🥭 Diseño minimalista, formal y facil de entender:</strong> 
                Diseño simple facil de entender, pensando en la gente mayor
            </li>
            <li class="mb-2"> 
                <strong>🍍 Contador de Calorías, y de otras caracteristicas de los alimentos:</strong> 
                Ve la información de tus alimentos que comes diario
            </li>
            <li class="mb-2"> 
                <strong>🍋 Motivador:</strong> 
                Intentaremos que te motives a comer bien, a recordartelo segun tu especifiques
            </li>
            <li class="mb-2"> 
                <strong>🍊 Creacion de dietas personalizadas:</strong> 
                En base a tus datos personales, te crearemos dietas solo para ti
            </li>
        </ul>
    </div>
</div>


{% endblock %}