{% extends "base.html" %}

{% block title %}NutriApp - Inicio{% endblock %}

{% block content %}

<div class="row align-items-center mb-5">
    <div class="col-12 col-md-6 mb-4 mb-md-0">
        <h1 class="display-4 text-black fw-bold">Bienvenido a NUUB!</h1>
        <p>Explora y mantente al tanto de esta aplicación, y descubre la importancia de tener conocimiento sobre lo que comes, como así mismo tener un seguimiento de ello.</p>
    </div>
    <div class="col-12 col-md-6 text-center mt-4">
        <img src="static/img/comida1.png" alt="Comidaa saludable" class="img-fluid">
    </div>
</div>

<div class="row align-items-center">
    <div class="col-12 col-md-6 text-center mb-4 mb-md-0 order-2 order-md-1">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/img/comida2.png" class="d-block w-100 img-fluid" alt="Comida saludable">
                </div>
                <div class="carousel-item">
                    <img src="static/img/comida3.png" class="d-block w-100 img-fluid" alt="Comida saludable">
                </div>
                <div class="carousel-item">
                    <img src="static/img/comida4.png" class="d-block w-100 img-fluid" alt="Comida saludable">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
        <h2 class="text-black">Características de la aplicación</h2>
        <ul class="list-unstyled">
            <li class="mb-2"> 
                <strong>🥭 Calculadoras:</strong> 
                En la aplicacion, hay 5 distintas calculadoras, para calcular el IMC, TMB, GCT, Peso Corporal Ideal, y Macronutrientes.
            </li>
            <li class="mb-2"> 
                <strong>🍍 Busador de Alimentos:</strong> 
                Ve la información de alimentos que comes diario, como sus macronutrientes.
            </li>
            <li class="mb-2"> 
                <strong>🍋 Recetas:</strong> 
                En base a tus datos personales, te crearemos dietas y recetas.
            </li>
            <li class="mb-2"> 
                <strong>🍊 Informacion, consejos:</strong> 
                Te daremos informacion general sobre el tema de los alimentos, como consejos.
            </li>
        </ul>
    </div>
</div>

{% endblock %}