{% extends "base.html" %}

{% block title %}NutriApp - Inicio{% endblock %}

{% block content %}

<div class="row align-items-center mb-5">
    <div class="col-12 col-md-6 mb-4 mb-md-0">
        <h1 class="display-4 text-black fw-bold">Bienvenido a NUUB!</h1>
        <p class="lead">Una aplicación web nutricional, utilizando Flask, Python, HTML, MySQL y BootStrap, hecha por Gregorio Canton Chacon Antonio y Herrera Trejo Victor Daniel.</p>
        <p>Explora y mantente al tanto de esta aplicación, y descubre la importancia de tener conocimiento sobre lo que comes, como así mismo tener un seguimiento de ello.</p>
    </div>
    <div class="col-12 col-md-6 text-center">
        <img src="static/img/comida1.png" alt="Comidaa saludable" class="img-fluid">
    </div>
</div>

<div class="row align-items-center">
    <div class="col-12 col-md-6 text-center mb-4 mb-md-0 order-2 order-md-1">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/img/comida2.png" class="d-block w-100 img-fluid" alt="Comida saludable">
                </div>
                <div class="carousel-item">
                    <img src="static/img/comida3.png" class="d-block w-100 img-fluid" alt="Comida saludable">
                </div>
                <div class="carousel-item">
                    <img src="static/img/comida4.png" class="d-block w-100 img-fluid" alt="Comida saludable">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
        <h2 class="text-black">Características de la aplicación</h2>
        <ul class="list-unstyled">
            <li class="mb-2"> 
                <strong>🍊 Aplicación responsiva:</strong> 
                Se adapta a todas las pantallas.
            </li>
            <li class="mb-2"> 
                <strong>🥭 Diseño minimalista, formal y facil de entender:</strong> 
                Diseño simple facil de entender, pensando en toda tipo de gente.
            </li>
            <li class="mb-2"> 
                <strong>🍍 Contador de Calorías, y de otras caracteristicas de los alimentos:</strong> 
                Ve la información de alimentos que comes diario.
            </li>
            <li class="mb-2"> 
                <strong>🍋 Motivador:</strong> 
                Intentaremos que te motives a comer bien, a recordartelo segun tu especifiques.
            </li>
            <li class="mb-2"> 
                <strong>🍊 Creacion de dietas personalizadas:</strong> 
                En base a tus datos personales, te crearemos dietas solo para ti.
            </li>
        </ul>
    </div>
</div>

{% endblock %}