{% extends "base.html" %}

{% block title %}Inicio de Sesion{% endblock %}

{% block content %}

    <div class="text-center">
    <h1>Inicia sesión en tu cuenta de NUUB 🍌</h1>
    <p>Accede a tu cuenta</p>
    </div>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-sm border-danger" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('iniciodesesion') }}" method="POST">

                <div class="text-danger text-center">
                    <h2>Datos personales</h2>
                </div>

                <label class="form-label">Tu Gmail</label>
                <div class="mb-4">
                    <input type="email" class="form-control border-danger" id="email" name="email" placeholder="Correo electrónico" required>
                </div>

                <label class="form-label">Tu contraseña</label>
                <div class="mb-4">
                    <input type="password" class="form-control border-danger" id="password" name="password" placeholder="Contraseña" required>
                </div>

                <small class="text-center text-muted">
                    <p>Mantén tu información segura y no compartas tus datos de acceso.</p>
                </small>

                <div class="container d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-warning" type="submit">Iniciar Sesión</button>
                </div>

                

                <div class="text-center mt-3">
                    <a href="{{ url_for('registro') }}">¿No tienes una cuenta?</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}